@font-face {
	font-family: 'iconfont';  /* project id 561407 */
	src: url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.eot');
	src: url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.eot?#iefix') format('embedded-opentype'),
	url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.woff') format('woff'),
	url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.ttf') format('truetype'),
	url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.svg#iconfont') format('svg');
}
body{
	font-size: 12px;
	background-color: #f5f5f5;
}
#now{
	width: 100%;
	height: 13.8rem;
	background: url('../img/screen.png'),linear-gradient(#3bbcff,#47e7ff);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom center;
}
.now_city{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 1.57rem;
}
.address_icon{
	font-family: 'iconfont';
	font-size: 0.8rem;
	margin-top: 0.5rem;
}
.now_air{
	width: 2.1rem;
	height: 1.26rem;
	background-color: #f1ab62;
	margin-left: 0.26rem;
	margin-top: 0.05rem;
	border-radius: 0.25rem;
	padding-top: 0.31rem;
}
.now_air h1, .now_air h2{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
}
.now_temp{
	font-size: 0.96rem;
	text-align: center;
	color: #fff;
	margin-top: .77rem;
	line-height: .96rem;
}
.now_weather{
	margin-top: .9rem;
	font-size: .52rem;
	text-align: center;
	color: #fff;
	line-height: .52rem;
}
.now_wind_box{
	margin-top: .54rem;
	text-align: center;
	color:#fff;
	font-size: .32rem;
	line-height: .32rem;
}
.notice{
	margin-top: 1.48rem;
	font-size: .32rem;
	color: #fff;
	text-align: center;
	line-height: .32rem;
}
#future{
	width: 100%;
	height: 3.09rem;
	background-color: #fff;
	border-bottom: .03rem solid #e4e4e4;
	padding: .72rem 0;	
}
.future_box{
	width: 50%;
	height: 100%;
	float: left;
	padding: 0 .58rem;
	font-size: .32rem;

}
.today{
	border-right: .03rem solid #e4e4e4;
}
.future_top{
	width: 100%;
	height: 50%;
}
.future_date{
	float: left;

}
.future_top p{
	float: right;
}
.today_img,.tomorrow_img{
	width: 1.48rem;
	height: .74rem;
	float: right;
	/*margin-right: 0.3rem;*/
}
.today_img img{
	width: 1rem;
	height: 1rem;
}
.tomorrow_img img{
	width: 1rem;
	height: 1rem;
}
#hours{
	width: 100%;
	height: 3.89rem;
	background-color: #fff;
	border-bottom: .03rem solid #e4e4e4;
	border-top: .03rem solid #e4e4e4;
	margin-top: .3rem;
	overflow-x: scroll;
	display: flex;

}
#hours::-webkit-scrollbar,#week::-webkit-scrollbar{
	display: none;
/* 	display: block;结合display: none;实现 */

}
#hours li{
	width: 2rem;
	height: 100%;
	padding: .7rem 0;	
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	flex-shrink: 0;	
	
}
.hours_img{
	width: 2rem;
	height: 1rem;
	padding:.5rem 0.4rem;
	box-sizing: content-box;
}
.hours_img img{
	width: 1rem;
	height: 1rem;
}
.hours_time ,.hours_temp{
	font-size: .26rem;
	padding:.5rem .7rem ;


}
#week{
	width: 100%;
	background-color: #fff;
	border-top: .03rem solid #e4e4e4;
	margin-top: .3rem;
	overflow-x: scroll;
	display: flex;
}
#week li{
	width: 2rem;
	height: 100%;
	padding:0.7rem 0;	
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	flex-shrink: 0;	
}
.week_img{
	width: 1rem;
	height: 1rem;
	padding:0.5rem 0.3rem;
	box-sizing: content-box;
}
.week_img img{
	width: 1rem;
	height: 1rem;
}
.week_weather{
	font-size: 0.32rem;
	padding: 0.5rem 0.3rem;
	font-weight: normal;
	/*margin-left: 0.3rem;*/
}
.week_date{
	font-size: 0.26rem;
	padding: 0.5rem 0.5rem;
}
.week_lowtemp{
	font-size: 0.32rem;
	padding: 0.5rem 0.8rem;
	font-weight: normal;
}
.week_wind_level{
	font-size: 0.32rem;
	padding-left: 0.6rem;
}
.week_hightemp{
	padding: 0.5rem 0.8rem;
	font-weight: normal;
	font-size: 0.32rem;
}
.week_wind_dire{
	padding: 0.5rem 0.4rem;
	font-weight: normal;
	font-size: 0.32rem;
}


#citys{
	width: 100vw;
	/*撑开一屏的大小,把当前页面固定 */
	height: 100vh;
	background-color: #f6f6f6;
	 position: fixed;
	display: none;
	left: 0;
	top: 0;
	z-index: 999;
	bottom: 0;
	margin: auto;
	/* 撑开一屏大小
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: yellowgreen; */
}
header{
	width: 100%;
	height: 1.29rem;
	background-color: #fff;
	padding: 0 0.29rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}
.search{
	width: 9.03rem;
	height: 0.87rem;
	background-color: #e2e2e2;
	border: 0;
	border-radius: 0.2rem;
	padding-left: 0.2rem;
	outline: none;
}
.btn{
	font-size: 0.42rem;
	color: #76a9ff;
}
.city_bottom{
	width: 100%;
	height: 17.8rem;
	overflow-y: scroll;
}
#citys div{
	width: 2.34rem;
	height: 0.84rem;
	background-color: #fff;
	border: .03rem solid #e4e4e4;
	border-radius: 0.2rem;
	margin-left: 0.29rem;
	margin-right: 0.4rem;
	margin-top: 0.2rem;
	text-align: center;
	font-size: 0.4rem;
	padding-top: 0.2rem;
	line-height: 0.4rem;
	float: left;
}
.city_bottom::-webkit-scrollbar{
	display: none;
}

.hot_citys{
	width: 100%;
	/* height: 3.4rem; */
}
.hot_citys h1{
	color: #999999;
	padding-left: 0.29rem;
	font-weight: normal;
	font-size: 0.45rem;

}
.hot_citys_item{
	width: 2.34rem;
	height: 0.84rem;
	background-color: #fff;
	border: .03rem solid #e4e4e4;
	border-radius: 0.2rem;
	margin-left: 0.29rem;
	margin-right: 0.4rem;
	margin-top: 0.2rem;
	text-align: center;
	font-size: 0.4rem;
	padding-top: 0.2rem;
	line-height: 0.4rem;
	float: left;
}
.city_title h1 {
	margin-top: 0.56rem;
}
.city_title{
	float: left;
}




