*{
	margin: 0;	/* body-8px */
	text-decoration: none; /* a标签 */
	font-style: normal;/* i标签 */
	padding: 0;
	list-style: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}
.img{
	width: 100%;
	height: 100%;
	border: 0;
	display: block;
}